body{
    background-color: rgb(235, 229, 229);
}
.container{
    display: flex;
    align-items: center;
    margin: 100px;
    padding: 250px;
    height: 80vh;
    background-color: rgb(255, 251, 251);
}
.sedans{
    border:0.1px solid black;
    background-color: rgb(236, 154, 1);
    color:white;
    height:60vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.learn-more{
    background-color: white;
    color:hsl(31, 77%, 52%);
    border-radius: 10px;
    width:125px;
    height: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    border:1px solid white;
    margin:30px;
}

.SUVS{
    border:0.1px solid black;
    background-color: rgb(0, 173, 159);
    color:white;
    height:60vh;
}
.learn-more-one{
    background-color: white;
    color:hsl(184, 100%, 22%);
    border-radius: 10px;
    width:125px;
    height: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    border:1px solid white;
    margin:30px;
}
.luxury{
    border:0.1px solid black;
    background-color: rgb(5, 70, 64);
    color:white;
    height:60vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.learn-more-two{
    background-color: white;
    color:hsl(179, 100%, 13%);
    border-radius: 10px;
    width:125px;
    height: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    border:1px solid white;
    margin:30px;
}
.luxury button:hover{
    background-color:rgb(139, 202, 197); 
    color: black; 
}
.SUVS button:hover{
    background-color:hsl(179, 100%, 13%);
    color: black; 
}
.sedans button:hover{
    background-color:rgba(206, 166, 93, 0.87);
    color: black; 
}
h1{
    padding-left: 30px;
    padding-top: 70px;
}
p{
    padding: 30px;
    font-family:'Lexend' 'Deca';
}
.button-class{
    margin-top: 20px;   
    margin-bottom:30px;
    border-radius:20px;
    margin-left:30px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.icons{
    padding:40px 0 0 30px;
}
button{
    cursor: pointer;
    transition:all .5s ease-in-out;
    position: absolute;
}
@media only screen and(max-width:144px) {
    body{
        display: flex;
        width: 100%;
        overflow: scroll;
        flex-wrap: wrap;
    }

    .container{
        padding: 50px 0;
        min-height: 100%;
        flex-direction: column;
        background-color: hsl(31, 77%, 52%);
    }

    .sedans{
        border-radius: 7px 7px 0 0;
    }
    

    .luxury{
        border-radius: 0 0 7px 7px ;
    }

    p{
        font-size: 0.77rem;
    }
}

